[color]
    branch  = always
    diff    = auto
    status  = always
[color "branch"]
    current = green bold
    local   = white
    remote  = red
[color "status"]
    header      = dim
    added       = green
    changed     = yellow
    untracked   = red
[alias]
    b           = branch
    ball        = branch --all
    st          = status --short
    ci          = commit
    cim         = commit -m
    co          = checkout
    cob         = checkout -b
    pl          = pull
    plo         = pull origin
    plom        = pull origin master
    ps          = push
    pso         = push origin
    psom        = push origin master
    ciff        = diff --color=always --ws-error-highlight=all
    undo-commit = reset --soft HEAD~1
[user]
    name    = Natalie Wolfe
    email   = natalie@lifewanted.com
[push]
    default = simple
